[submodule "third_party/fake-08"]
	path = third_party/fake-08
	url = https://github.com/jtothebell/fake-08.git
[submodule "third_party/pythondata-cpu-vexriscv"]
	path = third_party/pythondata-cpu-vexriscv
	url = https://github.com/litex-hub/pythondata-cpu-vexriscv.git
